body {
    margin: 0%;
}

nav {
    text-align: center;
}

.pull-left {
    max-width: 25%;
    align-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #956296;
    position: fixed;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 15px;
    font-size: 25px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4caf50;
    margin: 15px;
}  

.barbecue {
    height: 540px;
} 

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
    top: 50%;
    left: 50%;
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h2 {
    color: #956296;
}

.how {
    text-align: center;
}

.container-fluid {
    background: #7fbf7f;
    width: 100%;
    padding: 16px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    font-size: 25px;
    text-align: justify;
}

.row::after {
    content: " ";
    display: table;
    clear: both;
}

.plan {
    text-align: center;
}

.gallery {
    margin: 40px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    height: 200px;
    display: flex;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.sign {
    text-align: center;
}

.form {
    width: 50%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: table;
}

.sign {
    text-align: center;
}

.container {
    padding: 16px;
    max-width: 100%;
}

.box {
    display: flex;
    width: 100%;
}

footer {
    left: 0%;
    bottom: 0;
    width: 100%;
    margin-left: 20px;
    margin-top: 70px;
    background-color: #956296;
}

.icons {
    margin-left: 20px;
}

p {
    margin-left:  20px;
}

a {
    margin-left: 20px;
}

.choose {
    margin-left: 20px;
}

